<html lang="en">
    <%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="blogs content">
            <h2>Single Blog</h2>
            <a href="/blog/<%= result._id %>">
                <h3 class="title"><%= result.title %></h3>
                <p class="snippet"><%= result.snippet %></p>
            </a>
        </div>
        <div class="delete-btn">
            <a href="/blog/delete/<%=result._id%>">Delete</a>
        </div>

        <%- include("./partials/footer.ejs") %>
    </body>
</html>
